<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar">
        <div class="navbar-content">
            <a href="/" class="navbar-brand">FedeLabs</a>
            <ul class="navbar-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/letras">Selector</a></li>
                <li><a href="/fonts">Fuentes</a></li>
                <li><a href="/images">Imágenes</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
