<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('FedeLabs - Inicio')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    
    <div class="landing-container">
        <div class="container">
            <h1>Contenido de prueba</h1>
            <p>Landing page en construcción</p>
            
            <div class="landing-links">
                <a href="/letras" class="btn btn-primary">Selector de Letras</a>
                <a href="/fonts" class="btn btn-secondary">Gestión de Fuentes</a>
            </div>
        </div>
    </div>
</body>
</html>
